/* Container for the Card instances */
.card-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
  padding-left: 22px;
}

.card {
  margin-right: 8px;
  position: relative;
}

/* Badge at the top-left of the card */
.card--badge {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  opacity: 0.9;
  padding: 4px 6px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bolder;
}

/* Resize pics to match each other size */
.card--image {
  max-height: auto;
  min-height: 26vw;
  max-width: 17vw;
  min-width: auto;
  border-radius: 14px;
}

.card--star {
  height: auto;
  width: 16px;
  margin-right: 4px;
}

.card--stats {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 8px;
}

.grey {
  color: #918E9B;
}

.card--title {
  margin: 0px;
  margin-bottom: 6px;
}

.card--price {
  margin: 0px;
}

.p-bold {
  font-weight: bolder;
}

@media (max-width: 500px) {

  .card-list {
    padding-left: 4vw;
    gap: 0;
  }

  .card {
    height: auto;
    min-width: 38%; 
    margin-right: 18vw
  }

  .card--image {
    min-height: 75vw;
    min-width: 50vw;
    border-radius: 14px;
  }

  .card--title {
    font-size: 3.5vw;
  }

  .card--price {
    font-size: 3.2vw;
  }
}